@reference "tailwindcss";

.window {
    @apply min-w-2xl border border-gray-200;
    
    &.small-size {
        @apply max-w-sm
    }
    &.medium-size {
        @apply max-w-lg
    }
    &.large-size {
        @apply max-w-4xl
    }
    &.full-size {
        @apply max-w-full
    }

    .toolbar {
        @apply flex w-full;

        & .controls {
            @apply flex w-full justify-end text-sm;

            & > * {
                @apply p-1 cursor-pointer;
            }
            & > * + * {
                @apply ms-1;
            }
        }
    }
}
